<div class="content">
  <div class="titulo">Cenário Atual</div>
  <p>
    Nos últimos anos – especialmente após o inicio da pandemia, vem se
    observando um grande aumento de incidentes de crimes cibernéticos, que tem
    como alvo pessoas, empresas e governos. A Deep Instinct disponibiliza em seu
    relatório “Cyber Threat Landscape Report” a evolução dos tipos de malware
    utilizados em ataques (confira a imagem abaixo). Notavelmente, houve um
    grande aumento no uso de ransonware pelos ofensores cibernéticos.
  </p>
  <img src="/assets/img/imagem-ataques.png" alt="" srcset="" />
  <p>
    Ataques de ransomware estão relacionados a vazamento de dados, perca de
    acesso a arquivos e informações relevantes. Segundo a IBM Security, em 2021,
    os ataques de ransomware geraram, globalmente, em média, um prejuízo de 4,62
    milhões de dólares por ataque. O impacto financeiro também pode ser
    observado no prejuízo causado por este tipo de ataque (ou então, na
    perspectiva do ofensor, no aumento de receita), como documentado no
    relatório da World Economic Forum, Global Threat Report, onde pode ser
    observado em 2020 um aumento de 447% em relação ao ano anterior
  </p>

  <img src="/assets/img/imagem-cryptocurrency.png" alt="" srcset="" />
  <p>
    Certamente a defesa das empresas e governos precisa se adaptar a este novo
    cenário global, onde os criminosos modernizaram suas táticas e vem ganhando
    muito dinheiro com estas novas técnicas. E não basta que um ou outro
    executivo diga que vai injetar dinheiro em tecnologias para prevenir novos
    incidentes (já dizia Bruce Schneider – “Se você acha que tecnologia pode
    resolver seus problemas de segurança, então você não conhece os problemas e
    você não entende a tecnologia”). A segurança de uma empresa depende de uma
    grande mudança que envolve todas as pessoas e processos, uma readequação de
    cultura, onde todos devem estar cientes das políticas de segurança da
    empresa, pois, ao se aproveitar das falhas humanas é que a grande maioria
    dos ataques consegue se tornar um incidente de sucesso (para o criminoso).
  </p>
  <p>
    Para saber mais sobre a implantação de segurança no ambiente corporativo
    consulte o Framework de Segurança NIST. Mas voltando a falar de tecnologia,
    controles de segurança e, porque não, Inteligência Artificial, apesar de não
    poderem sozinhas garantir que uma empresa está segura, certamente será de
    grande ajuda. Como a OWASP afirma:
  </p>
  <p>
    O objetivo da segurança em aplicações é manter a confidencialidade,
    integridade e disponibilidade dos recursos de informação a fim de permitir
    que as operações de negócios sejam bem-sucedidas e esse objetivo é alcançado
    através da implementação de controles de segurança (OWASP, 2012). E o uso de
    inteligência artificial tem se mostrado bastante eficiente no mundo
    corporativo.
  </p>
</div>
