.card {
	width: 80%;
	background: #bbb;
	border-radius: 10px;
	text-align: center;
}
.card01{
	background: #000;
	padding: 20px;
	color: #eee;
	font-weight: 600;
}
.card02{
	height: 50px;
	padding: 20px;
}