<body>
  <header>
    <div class="logo">
      <a routerLink=""><img src=".\assets\img\Connor.png" alt="Logo" /></a>
    </div>

    <nav>
      <a routerLink="">Home</a>
      <a routerLink="/dados-recentes">Recentes</a>
      <a routerLink="/seguranca-corporativa">Matérias</a>
      <a routerLink="/cenario-atual">Cenário Atual</a>
      <a routerLink="/cenario-atual">Login</a>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    Charles Neves Epifanio de Oliveira <br />
    Leonardo dos Reis Souza
  </footer>
</body>
