header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #222;
    color: #eee;
    height: 50px;
}
nav{
    display: flex;
    width: 60%;
    gap: 10px;
    justify-content: space-around;
    padding-right: 10px;
}

a {
    padding: 10px;
    text-decoration: none;
    color: #eee;
    font-weight: 700;
}

footer{
    background-color: #222;
    color: #eee;
    padding: 10px;
}
img{
    height: 100%;
}

