.c2-1{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

.esq{
    width: 100%;
    padding: 10px;
    justify-content: center;
}
.dir{
    width: 80%;
    padding: 10px;
}

img{
    width: 100%;
}

