<div class="content">
  <div class="titulo">
    {{ "Segirança Corporativa" | uppercase }}
  </div>
  <div class="c2-1">
    <div class="esq">
        <a href="http://"></a>
      <img src="/assets/img/imagem-custo-vazamento.png" alt="" srcset="" />
    </div>
    <div class="dir">
      <p>
        Em seu relatório “Cost of a Data Breach Report” [1], a IBM Security
        apresenta dados envolvendo os prejuízos financeiros causados por
        vazamentos de dados e explora quais fatores possuem correlação com um
        maior ou menor custo em situações de vazamentos de dados causados por
        ataques cibernéticos. Como pode ser observado na figura abaixo, segundo
        as pesquisas da IBM Security, o uso de Inteligência Artificial (IA) nas
        empresas foi o principal fator que contribuiu para a redução dos custos.
      </p>
    </div>
  </div>
  <p>
    Em um cenário onde a média global de um ataque com vazamento de dados, em
    2022, é de 4,35 milhões de dólares (sendo que no Brasil, o custo médio é de
    1,38 milhões de dólares por ataque, 27% a mais que nos dados apresentados no
    relatório do ano de 2021) [1]. No mundo corporativo, esta redução de custo
    através do uso Inteligência Artificial se dá através do uso de plataformas
    que, ao utilizar diferentes métodos e conceitos de IA aplicados,
    principalmente, ao monitoramento de seus ativos, envolvendo dados de rede,
    sistemas, aplicações, dispositivos, usuários e outras fontes de dados que
    podem ser monitoradas. Na pesquisa feita pela IBM Institute for Business
    Value, publicada no relatório “AI and Automation for Cybersecurity” [2], as
    empresas que implantaram o uso de inteligência artificial observaram um
    grande impacto em:
  </p>
  <ul>
    <li>Triagem de ameaças de Tier 1;</li>
    <li>Detecção de ataques e ameaças zero-day;</li>
    <li>Maior sucesso em prever a ocorrência de ataques futuros;</li>
    <li>Redução de falsos positivos;</li>
    <li>Correlação de comportamento de usuário com indicadores de ameaça.</li>
  </ul>
  <p>
    O aumento de velocidade e eficiência na detecção de ameaças pode ser
    observado na pesquisa. Na imagem abaixo, retirada do “Cost of a Data Breach
    Report” [1], podemos ver a diferença entre as empresas que possuem uma
    plataforma de inteligência artificial comissionada, parcialmente
    comissionada ou que não possuem qualquer sistema deste tipo.
  </p>
  <div>
    <img src="/assets/img/img-tempo-vazamento.png" alt="" />
  </div>
  <p>
    O uso de IA então se provou como uma forma de aumentar a velocidade de detecção e contenção de ameaças.
  </p>
</div>
